APP_KEY=base64:0UWa3ZcKXPji8/P+OpreZGowbL7zs/Yx+O9Sl0q5yBE=

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

FIREBASE_CREDENTIALS=storage/app/firebase/check-off-8fc61-firebase-adminsdk-fbsvc-06f10b65fc.json

VITE_FIREBASE_API_KEY="AIzaSyAGW9R0Qd0s97kBkQiBjy6I7CYgui-HFCg"
VITE_FIREBASE_AUTH_DOMAIN="check-off-8fc61.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="check-off-8fc61"
VITE_FIREBASE_STORAGE_BUCKET="check-off-8fc61.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="745434895032"
VITE_FIREBASE_APP_ID="1:745434895032:web:8233dc6bfe2407158a9a4d"